@use 'styles' as *;

.home {
  background: #fcfcfc;

  .lookbook {
    @include grid;
    min-height: 75vh;

    h1 {
      grid-row: 1;
      grid-column: 1 / 8;
      @include font-hero;
      z-index: 2;
      place-self: center;
    }

    a {
      grid-row: 1;
      grid-column: 6 / 8;
      align-self: center;
      @include font-regular;
      z-index: 2;
      color: $color-black;
    }

    img {
      grid-row: 1;
      grid-column: 1 / -1;
      z-index: 1;
      width: 100%;
    }
  }
}
