@use 'styles' as *;

.home {
  background: #fcfcfc;

  .lookbook {
    @include grid;
    min-height: 100vh;

    &__title {
      grid-row: 1;
      grid-column: 1 / 8;
      z-index: 2;
      place-self: center;

      h1 {
        @include font-hero;
        padding: 25px 0;
      }

      a {
        @include font-regular;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-black;
        border: 2px solid $color-black;
        padding: 10px 25px;
        text-decoration: none;
        display: inline-block;
        transform: translate(100px, 50px);
      }

      p {
        @include font-regular;
      }
    }

    &__img {
      grid-row: 1;
      grid-column: 1 / -1;
      z-index: 1;

      img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}
