@use 'styles' as *;

.orderSummary {
  @include grid;
  width: 100%;
  min-height: 100vh;
  place-content: center;

  .info {
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;

    h1 {
      @include font-title
    }
  }
}
