@use 'mixins' as *;

@at-root {
  @include font(Kobe, Kobe);
}

@mixin font-hero() {
  font-family: 'Kobe', serif;
  @include font-size-fluid(320px, 1200px, 22px, 70px);
}

@mixin font-title() {
  font-family: 'Kobe', serif;
  @include font-size-fluid(320px, 1200px, 22px, 32px);
}

@mixin font-price() {
  font-family: 'Kobe', serif;
  @include font-size-fluid(320px, 1200px, 18px, 24px);
}

@mixin font-normal() {
  font-family: 'Kobe', serif;
  @include font-size-fluid(320px, 1200px, 14px, 20px);
}

@mixin font-nav() {
  font-family: 'Nunito Sans', sans-serif;
  @include font-size-fluid(320px, 1200px, 10px, 12px);
}

@mixin font-regular() {
  font-family: 'Nunito Sans', sans-serif;
}
