$color-white: #fff;
$color-black: #171717;
$color-yellow: #F9E79F;
$color-green: #76D7C4;
$color-blue: #84AAF1;

$breakpoints: (
        'XS': 340px,
        'S': 767px,
        'M': 992px,
        'L': 1200px,
) !default;


